{% if section.settings.paywhirl == true %}
{% if product.title contains 'CBD Gummy Squares 750mg CBD 30 ct Wild Berry' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
  <script type="text/javascript" id='pw_609efbd0aa79b' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'4e8ae3f9-9d9d-49bc-839e-4edc1e31a14d', button_image: '' },'pw_609efbd0aa79b'); </script>
  </div>
</div>
{% elsif product.title contains 'CBD MASSAGE OIL 1,000 MG 8oz, Lavender Scent' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609efeffed418' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'42d70ecc-9058-42a8-b54c-585af0e34040', button_image: '' },'pw_609efeffed418'); </script>  
  </div>
</div>
{% elsif product.title contains 'CBD Oil 1000mg 1oz (with MCT) Mint Chocolate - Beginner' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609f01141088f' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'b2199563-f65c-4c02-a781-4b4af0bc43f6', button_image: '' },'pw_609f01141088f'); </script>
  </div>
</div>
{% elsif product.title contains 'CBD Oil 2000mg 1oz (with MCT) Citrus- Optimum' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609f042d7ff28' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'940024df-da4d-42ae-a1d0-6997283cca1a', button_image: '' },'pw_609f042d7ff28'); </script>  
  </div>
</div>
{% elsif product.title contains 'CBD Oil 3000mg 2oz (with MCT) Citrus - Intermediate' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609f0a8a1ec9d' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'8df86e18-afd8-4f0b-8b2e-d3fa33b17446', button_image: '' },'pw_609f0a8a1ec9d'); </script>  
  </div>
</div>
{% elsif product.title contains 'Energy + Focus Softgels with 20mg CBD,10mg CBG' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609f0c0d6be10' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'fcb52ca7-af4e-4fcd-9743-f306e1eeaa6c', button_image: '' },'pw_609f0c0d6be10'); </script>  
  </div>
</div>
{% elsif product.title contains 'Gummies with 20mg CBD 10 ct' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609f0e0114c71' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'eb13ed25-d559-4111-84f4-981236ff0ea1', button_image: '' },'pw_609f0e0114c71'); </script>  
  </div>
</div>
{% elsif product.title contains 'Pain Relief Rub and Arnica with CBD 150mg' %}
<div class="paywhirl-external-buttons">
  <h3>{{ section.settings.paywhirl_title }}</h3>
  <div class="paywhirl-code-container">
<script type="text/javascript" id='pw_609f0fd738282' src="https://app.paywhirl.com/pwa.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'eskumo-llc', uuid:'3bb24e56-9781-4ea0-8e41-c1c18b72c0a1', button_image: '' },'pw_609f0fd738282'); </script>  
  </div>
</div>
{% endif %}
{% endif %}
