<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="{{ shop.locale }}"> <![endif]-->
<!-- [if (gte IE 10)|!(IE)]><! -->
<html lang="{{ shop.locale }}">
  <!-- <![endif] -->
  <head>
    <!-- Added by TAPITA SEO SCHEMA -->
    {% if content_for_header contains 'tapita-seo-script-tags' %}
      {% include 'tapita-seo-schema' %}
    {% endif %}
    <!-- /Added by TAPITA SEO SCHEMA -->

    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>
      {% if template contains 'index' -%}
        {{- page_title -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif -%}
        {%- if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} - {{ shop.name }}{% endunless -%}
      {%- endif %}
    </title>

    {% if page_description %}
      <meta
        name="description"
        content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}"
      >
    {% endif %}

    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Stylesheets for Parallax 3.5.3 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

    {% if settings.favicon != null %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {% if template contains 'customer' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'app.js' | asset_url | script_tag }}
    {{ 'newstyles.js' | asset_url | script_tag }}

    <!--[if lte IE 8]>
      {{ 'ie.css' | asset_url | stylesheet_tag }}
      {{ 'skrollr.ie.js' | asset_url | script_tag }}
    <![endif]-->

    {{ content_for_header }}

    <noscript>
      <style>
        .slides > li:first-child {
          display: block;
        }
        .image__fallback {
          width: 100vw;
          display: block !important;
          max-width: 100vw !important;
          margin-bottom: 0;
        }
        .image__fallback + .hsContainer__image {
          display: none !important;
        }
        .hsContainer {
          height: auto !important;
        }
        .no-js-only {
          display: inherit !important;
        }
        .icon-cart.cart-button {
          display: none;
        }
        .lazyload,
        .cart_page_image img {
          opacity: 1;
          -webkit-filter: blur(0);
          filter: blur(0);
        }
        .bcg .hsContent {
          background-color: transparent;
        }
        .animate_right,
        .animate_left,
        .animate_up,
        .animate_down {
          opacity: 1;
        }
        .flexslider .slides > li {
          display: block;
        }
        .product_section .product_form {
          opacity: 1;
        }
        .multi_select,
        form .select {
          display: block !important;
        }
        .swatch_options {
          display: none;
        }
      </style>
    </noscript>

    {% render 'pagefly-header' %}
  </head>

  {% if template contains 'index' %}
    {% assign feature_image = true %}
  {% elsif template contains 'collection' %}
    {% assign feature_image = true %}
  {% elsif template contains 'blog' %}
    {% assign feature_image = true %}
  {% elsif template contains 'article' %}
    {% assign feature_image = true %}
  {% elsif template contains 'contact' %}
    {% assign feature_image = true %}
  {% elsif template contains 'banner' %}
    {% assign feature_image = true %}
  {% else %}
    {% assign feature_image = false %}
  {% endif %}

  <body
    class="{{ template | replace: '.', '-' | handle }} {% if feature_image %}feature_image{% endif %}"
    data-money-format="{{ shop.money_format }}"
  >
    <div id="content_wrapper">
      {% section 'header' %}

      <div class="global-wrapper">
        {{ content_for_layout }}
      </div>

      {% include 'cart-shipping-calculator' %}
      {% section 'footer' %}

      <div id="search" class="animated">
        <div class="container">
          <div class="ten columns offset-by-three center">
            <form action="/search">
              {% if settings.search_option != 'everything' %}
                <input type="hidden" name="type" value="product">
              {% endif %}
              <div class="search-close"><span class="icon-close"></span></div>
              <span class="icon-search search-submit"></span>
              <input
                type="text"
                name="q"
                placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}"
                value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}"
                autocapitalize="off"
                autocomplete="off"
                autocorrect="off"
              >
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}
    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled %}
      {% if template contains 'blog' or template contains 'article' or template contains 'index' %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}
    <!-- BEEKETINGSCRIPT CODE START -->
    {% include 'bk-tracking' %}
    <!-- BEEKETINGSCRIPT CODE END -->
    {% render 'paywhirl-main' %}

    {% include 'stamped-rewards-init' %}

    <script
      type="text/javascript"
      async=""
      src="https://bundle.enormapps.com/frontend/bundleapp/bundle.js"
      defer="defer"
    ></script>
  </body>
</html>
