<div class="footer">
  <div class="container">

    <div class="seven columns">
      {% if section.settings.footer_social_icons %}
        <h6>{{ 'layout.general.social' | t }}</h6>
        <div class="js-social-icons">
          {% include 'social-icons' %}
        </div>
      {% endif %}
      {% if section.settings.footer_content_left != blank %}
        {{ section.settings.footer_content_left }}
      {% endif %}
    </div>

    <div class="nine columns">
      {% if section.settings.footer_linklist_1 != blank %}
        <ul class="footer_menu">
          {% for link in linklists[section.settings.footer_linklist_1].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% for sub_link in link.links %}
              <li>
                <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
              </li>
              {% for sub_sub_link in sub_link.links %}
                <li>
                  <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}



      {% if section.settings.footer_newsletter %}
        {% if section.settings.richtext != blank %}
          {{ section.settings.richtext }}
        {% endif %}
        {% include 'newsletter' %}
      {% endif %}

      {% if section.settings.footer_content_right != blank %}
        {{ section.settings.footer_content_right }}
      {% endif %}

      {{ section.settings.custom_html }}

      <p class="credits">
        &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
        {{ section.settings.copyright_text | escape }}<br />
        {% if section.settings.display_designed_by == true %}
          {{ 'layout.general.designer_credits_html' | t }}
        {% endif %}

      </p>

      {% if section.settings.display_payment_methods %}
        <div class="payment_methods">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer-template-section",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist_1",
      "label": "Menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>Sign up to get the latest on sales, new releases and more…</p>"
    },
    {
      "type": "checkbox",
      "id": "footer_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "footer_social_icons",
      "label": "Show social media icons",
      "default": true
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "footer_content_left",
      "label": "Left column text"
    },
    {
      "type": "richtext",
      "id": "footer_content_right",
      "label": "Right column text"
    },
    {
      "type": "header",
      "content": "Scripts"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Custom HTML"
    }
  ]
}
{% endschema %}
